*{
    background-color: #a8d5ba;
}
#heading{
    font-family: bernard mt;
    color: #2f3a33;
    font-size: 30px;
}
.first{
    font-family:cursive;
    color:#4b5563;
}
#footer{
    font-family: bernard mt;
    color: #2f3a33;
    font-size: 20px;
}