*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    
    background: aquamarine;
    display: flex;
    justify-content: center;

}
.box{
    border: 20px solid red;
    padding: 40px;
    margin:200px;
    width: 200px;
    height: 200px;

}
